.container{
    height:100vh;
    padding:100px;
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.box{
    flex:1;
    min-width:106px;
    height:142px;
    border:2px dashed rgb(187, 187, 187);
    border-radius: 10px;
    flex:1;
    margin-right:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dropy p{
    color:rgb(54, 54, 54);
    position: absolute;
    z-index:-1000;
}
.dragged-item{
    border:none;
    flex-direction: column;
    cursor: grab;
}
.div-list{
    width:490px;
    display:flex;
    justify-content: center;
    padding:40px;
    border:1px solid black;

}
img{
    width:106px;
    height: 106px;
}
.brother-name{
    font-style: bold;
}